[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
requires-python = ">=3.7"
name = "rdflib-endpoint"
description = "A package to deploy SPARQL endpoint to serve local RDF files, machine learning models, or any other logic implemented in Python, using RDFLib and FastAPI."
readme = "README.md"
license = { file = "LICENSE.txt" }
authors = [
    { name = "Vincent Emonet", email = "vincent.emonet@gmail.com" },
]
maintainers = [
    { name = "Vincent Emonet", email = "vincent.emonet@gmail.com" },
]
keywords = [
    "Python",
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dynamic = ["version"]

dependencies = [
    "fastapi >=0.51.0",
    "uvicorn[standard] >=0.12.0",
    "rdflib >=6.0.0",
    "click",
    # "aiofiles",
    # "typer >=0.6.0",
]


[project.scripts]
rdflib-endpoint = "rdflib_endpoint.__main__:cli"


[project.optional-dependencies]
oxigraph =[
    "oxrdflib",
]
test = [
    "pytest >=7.1.3",
    "pytest-cov >=3.0.0",
    "ruff >=0.0.252",
    "mypy >=0.991",
    "black >=22.8.0",
    "requests",
    "httpx",
    "types-PyYAML",
    "types-setuptools",
    "types-ujson",
]
dev = [
    "pre-commit >=2.17.0",
]


[project.urls]
Homepage = "https://github.com/vemonet/rdflib-endpoint"
Documentation = "https://github.com/vemonet/rdflib-endpoint"
History = "https://github.com/vemonet/rdflib-endpoint/releases"
Tracker = "https://github.com/vemonet/rdflib-endpoint/issues"
Source = "https://github.com/vemonet/rdflib-endpoint"


# ENVIRONMENTS AND SCRIPTS
[tool.hatch.envs.default]
# type = "container"
# image = "python:3.7"
# command = ["/bin/sleep", "infinity"]
# start-on-creation = false
features = [
    "oxigraph",
    "test",
    "dev",
]
post-install-commands = [
    "pre-commit install",
]

[tool.hatch.envs.default.scripts]
test = "pytest {args}"
cov = "test --cov src {args}"
dev = "uvicorn example.app.main:app --reload {args}"
fmt = [
    "black src tests example",
    "ruff src tests example --fix",
    # "pre-commit run --all-files || true",
]
check = [
    "ruff src tests",
    "black src tests --check",
    "mypy src",
]
all = [
    "format",
    "check",
    "cov",
]

# TOOLS
[tool.hatch.version]
path = "src/rdflib_endpoint/__init__.py"


[tool.coverage.run]
source = ["src"]
branch = true

[tool.coverage.report]
omit = ["tests/*"]


[tool.mypy]
strict = true
implicit_reexport = true
follow_imports = "normal"
ignore_missing_imports = true
pretty = true
show_column_numbers = true
warn_no_return = true
warn_unused_ignores = true
warn_redundant_casts = true
disallow_untyped_defs = true
disallow_any_generics = true
disallow_untyped_calls = false # needed due to _eval() not being typed in rdflib


[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:httpx.*:"
]


[tool.black]
color = true
line-length = 120
target-version = ['py37']
skip-string-normalization = false


# https://github.com/charliermarsh/ruff#supported-rules
[tool.ruff]
src = ["src", "tests"]
target-version = "py37"
line-length = 120
select = [
    "A",
    "B",  # flake8-bugbear
    "C",  # flake8-comprehensions
    "E",  # pycodestyle errors
    "F",  # pyflakes
    # "FBT", # flake8-boolean-trap
    "I",  # isort
    "ICN",
    "N",
    "PLC",
    "PLE",
    # "PLR", # Magic value used in comparison, consider replacing 400 with a constant variable
    "PLW",
    "Q",
    "RUF",
    "S",
    "SIM",
    "T",
    "TID",
    "UP",
    "W",  # pycodestyle warnings
    "YTT",
]

ignore = [
    "E501", # line too long
    "B008", # do not perform function calls in argument defaults
    "B006", # do not use mutable data structures for argument defaults
    "C901", # too complex
    "S101", # Use of `assert` detected
    "T201", "T203", # remove print and pprint
]

[tool.ruff.per-file-ignores]
"__init__.py" = ["I", "F401"] # module imported but unused
